.slider-container {
  width: 100%;
  @include responsive(d) {
    margin-top: 20px;
  }
}

.slider {
  position: relative;
  max-width: 1150px;
  margin: auto;
}
.slider,
.slider-img {
  border-radius: 10px;
}
.slider-img {
  width: 100%;
  height: 225px;
  object-fit: cover;

  @include responsive(d) {
    height: 415px;
  }
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  button {
    cursor: pointer;
    margin: 0 8px;
    // width: 24px;
    fill: #ffffff;
    border: none;
    background-color: transparent;
    svg path {
      box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }
  }
}

button:nth-child(1) {
  transform: rotate(180deg);
}

.number-of-img {
  display: none;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(50%);
  color: #ffffff;

  @include responsive(d) {
    display: block;
    font-size: 18px;
  }
}

.chevron-caroussel {
  @include responsive(s-xs) {
    width: 12px;
    height: 20px;
  }

  @include responsive(t-s) {
    width: 18px;
    height: 28px;
  }

  @include responsive(d) {
    width: 50px;
    height: 80px;
  }
}
