.dropdown-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.dropdown {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  background-color: $primary;
  border-radius: 5px;
  cursor: pointer;
  & p {
    margin: 0;
    font-size: 13px;
    font-family: $primary-font;
  }
  & .dropdown-img {
    width: 16px;
    fill: #ffffff;
  }

  @include responsive(d) {
    padding: 8px 0;
  }
}

.contain-dropdown-elements {
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.dropdown-open {
  & .hidden-dropdown-element {
    height: 100%;
    padding: 8px 8px 12px 8px;
  }
}

.text-in-dropdown {
  font-size: 12px;
  font-family: $primary-font;
  color: $primary;
  ul {
    list-style: none;
    padding: 0;
  }
}

.hidden-dropdown-element {
  background-color: #f6f6f6;
  overflow: hidden;
  height: 0;
}
