.contain-titles {
  color: $primary;
  h1 {
    font-size: 18px;
    @include responsive(d) {
      font-size: 36px;
      margin-bottom: 4px;
    }
  }
  h3 {
    font-size: 14px;
    margin: 0;
    @include responsive(d) {
      font-size: 18px;
    }
  }
}

.flat-body-container {
  @include responsive(d) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 12px 0 8px 0;
  p {
    background-color: $primary;
    padding: 4px 18px;
    margin: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    @include responsive(d) {
      font-size: 14px;
      padding: 4px 24px;
      border-radius: 10px;
    }
    @include responsive(t-s) {
      font-size: 12px;
    }
  }
}

.rating-name-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .host {
    display: flex;
    align-items: center;
    gap: 12px;
    .name {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: 12px;
      color: $primary;
      @include responsive(t-s) {
        flex-direction: initial;
        gap: 8px;
        font-size: 14px;
      }
    }
    img {
      width: 32px;
      border-radius: 50%;
      @include responsive(d) {
        width: 64px;
      }
    }
  }
  @include responsive(d) {
    flex-direction: column-reverse;
    align-items: end;
    gap: 15px;
  }
}

.name > span {
  text-align: end;
  @include responsive(d) {
    font-size: 18px;
  }
}

.star-container {
  display: flex;
  align-items: center;
  gap: 4px;

  @include responsive(d) {
    gap: 15px;
  }
}
.rating-fill,
.rating-empty {
  width: 18px;
  @include responsive(d) {
    width: 24px;
  }
}

.rating-fill {
  fill: $primary;
}

.rating-empty {
  fill: #e3e3e3;
}
