header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}

.nav-contain {
  width: 100%;
}

nav {
  margin: 0 20px 0 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-element {
  width: 145px;
  height: 47px;
  & img {
    width: 145px;
    height: 47px;
  }
}

.right-element {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    font-family: $primary-font;
    color: $primary;
    font-size: 12px;
    @include responsive(d) {
      font-size: 18px;
    }
  }
  .active-link {
    text-decoration: underline;
  }
}

.section-header {
  background: url("/assets/HeaderImg.jpg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 111px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & h1 {
    margin: 0 0 0 10px;
    width: 220px;
    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: $primary-font;
  }
}

// responsive Header 1440px

nav {
  @include responsive(d) {
    width: 80%;
    margin: auto;
  }
}

.right-element {
  @include responsive(d) {
    width: 18%;
  }
}

.section-header {
  @include responsive(d) {
    max-width: 1150px;
    margin: auto;
    height: 223px;
  }
}

.section-header > h1 {
  @include responsive(d) {
    width: 100%;
    font-size: 48px;
    text-align: center;
  }
}

// responsive Header 800px

.right-element {
  @include responsive(t-s) {
    width: 24%;
  }
}
