header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;

  @include responsive(d) {
    height: 100px;
    justify-content: flex-end;
  }
}

.nav-contain {
  width: 100%;
}

nav {
  margin: 0 20px 0 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(d) {
    width: 1240px;
    margin: auto;
  }
}

.left-element {
  width: 145px;
  height: 47px;
  & img {
    width: 145px;
    height: 47px;
  }
}

.right-element {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(d) {
    justify-content: space-around;
    width: 18%;
  }

  @include responsive(t-s) {
    width: 24%;
  }

  & a {
    text-decoration: none;
    color: $primary;
    font-size: 12px;
    @include responsive(d) {
      font-size: 18px;
    }
  }
  .active-link {
    text-decoration: underline;
  }
}

.section-header {
  background: url("/assets/HeaderImg.jpg");
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 111px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include responsive(d) {
    margin: 63px auto 80px auto;
    height: 223px;
  }

  & h1 {
    margin: 0 0 0 10px;
    width: 220px;
    color: white;
    font-size: 24px;
    line-height: 24px;

    @include responsive(d) {
      width: 100%;
      font-size: 48px;
      text-align: center;
    }
  }
}
