@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$primary: #ff6060;
$card-color: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
$primary-font: "Montserrat";

// breakpoints
$breakpoints: (
  s-xs: 375px,
  s: 480px,
  s-xl: 576px,
  t-xs: 768px,
  t-s: 800px,
  t: 992px,
  t-xl: 1024px,
  d-xs: 1200px,
  d: 1440px,
  d-xl: 1920px,
);
